﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Email Confirmation";
}
<h2>@ViewData["Title"]</h2>
<p>
    Email confirm
</p>

