﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IdentityServiceWithJWT.ViewModels

@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Auth" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" name="Code" value="@Model.Code" type="hidden" />
            <input asp-for="Email" name="Email" value="@Model.Email" type="hidden" />
            @*<div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" name="Email"  class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
